@model IEnumerable<Project33.Services.Models.Books>
@{
    Layout = "_UserPageLayout";
}
  
<!DOCTYPE html>
  
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="~/css/BooksIndexStyle.css">
<style>
    .card{
      box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;
    }
    .card:hover{
      transform: scale(1.05);
      transition: all 1s ease;
      z-index: 999;
    }
    .card-01 .card-body{
      position:relative; padding-top:40px;
    }
    .card-01 .badge-box{
      position:absolute; 
      top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;
    }
    .card-01 .badge-box i{
      background:#006EFF; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;
    }
    .card-01 .height-fix{
      height:455px; overflow:hidden;
    }
    .author_genre {
        font-family: Alice;
        padding-top: 20px;
        line-height: 15px;
    }
    .author {
        color: #550008;
    }
    .genre {
        color: #913039;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Книжный мир</title>@*@Url.Content("~/Content/Site.css")*@
</head>
<body>
<main>
<section style="padding-top: 70px;">
    <div class="container">
        <div class="row">
            @foreach (var b in Model)
            {
                <div class="col-md-3">
                    <div class="card card-01">
                        <img src="@b.cover" alt="Avatar" style="width:100%">
                        <div class="card-body">
                            <h4><b>@Html.ActionLink(@b.name, "BookPage", "Books", new {id = b.id}, new {@class = "font_color"})</b></h4>
                            <ul class="author_genre" type="square">
                                <li class="author">@b.author</li>
                                <li class="genre">@b.genre</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
</main>

<aside>
    <div id="menu-menu-css" class="genres" style="padding-top: 70px">
        <h2 class="block_title" style="padding: 20px; ">
            <p class="font_color">Жанры</p>
        </h2>
        <div class="block_content scroll jspScrolltable" style="overflow: hidden; width: 100%;" tabindex="0">
            <ul>
                <li>@Html.ActionLink("фантастика", "GenrePage", "Books", new {genre = "фантастика"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("фэнтези", "GenrePage", "Books", new {genre = "фэнтези"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("детективы и триллеры", "GenrePage", "Books", new {genre = "детективы и триллеры"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("роман", "GenrePage", "Books", new {genre = "роман"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("приключения", "GenrePage", "Books", new {genre = "приключения"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("детское", "GenrePage", "Books", new {genre = "детское"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("поэзия", "GenrePage", "Books", new {genre = "поэзия"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("драматургия", "GenrePage", "Books", new {genre = "драматургия"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("биография", "GenrePage", "Books", new {genre = "биография"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("научпоп", "GenrePage", "Books", new {genre = "научпоп"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("история", "GenrePage", "Books", new {genre = "история"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("психология", "GenrePage", "Books", new {genre = "психология"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("ужасы", "GenrePage", "Books", new {genre = "ужасы"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("комиксы", "GenrePage", "Books", new {genre = "комиксы"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("искусство", "GenrePage", "Books", new {genre = "искусство"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("философия", "GenrePage", "Books", new {genre = "философия"}, new {@class = "font_color"})</li>
                <li>@Html.ActionLink("юмор", "GenrePage", "Books", new {genre = "юмор"}, new {@class = "font_color"})</li>
            </ul>
        </div>
    </div>
</aside>
</body>
</html>