@using Microsoft.AspNet.Identity
@using Microsoft.EntityFrameworkCore
@using Project33.Data
@using Project33.Services.Models
@model Project33.Services.Models.Books

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}

    <link rel="stylesheet" type="text/css" href="~/css/BookPageStyle.css">

<body>
<main>
    <div class="container">
        <div class="row">
            <div class="cover">
                <img class="cover" src="@Html.DisplayFor(model => model.cover)"/>
            </div>
            <div class="book_inf">
                <h3>@Html.DisplayFor(model => model.name)</h3>
                <h4>@Html.DisplayFor(model => model.author)</h4>
                <td><p>@Html.DisplayFor(model => model.description)</p></td>
                <div class="row" style="padding-left: 20px">
                    <div>Лайки:</div>
                    <div id="likes">@Model.likes</div>
                </div>
                
                @if (User.Identity.IsAuthenticated)
                {
                    UserContext user_db = new UserContext();
                    LikesContext likes_db = new LikesContext();
                    FavoritesContext favorite_db = new FavoritesContext();
                    
                    var userName = User.Identity.GetUserName();
                    User user = await user_db.Users.FirstOrDefaultAsync(x => x.Login == userName); 

                    if (await likes_db.Likes.FirstOrDefaultAsync(i => (i.user_id == user.Id) && (i.book_id == Model.id)) == null)
                    {
                        <input type="button" class="btn likefavor" id="like" name="like" value="Нравится" onclick="foo()"/>
                    }
                    else
                    {
                        <input type="button" class="btn likefavor" id="like" name="like" value="Уже не нравится" onclick="ffoo()"/>
                    }
                    if (await favorite_db.Favorites.FirstOrDefaultAsync(i => (i.user_id == user.Id) && (i.book_id == Model.id)) == null)
                    {
                        <div id="favorites">Добавить книгу в избранные!</div>
                        <input type="button" class="btn likefavor" id="favor" name="favor" value="Добавить в избранные" onclick="boo()"/>
                    }
                    else
                    {
                        <div id="favorites">Удалить книгу из избранных</div>
                        <input type="button" class="btn likefavor" id="favor" name="favor" value="Удалить из избранных" onclick="boo()"/>
                        
                    }
                }
                else
                {
                    <div class="row">
                        <h4 class="likes">Лайки:</h4>
                        <h4>@Html.DisplayFor(model => model.likes)</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
</body>

<script>
likeCount = @Model.likes
function foo() {
    if(document.getElementById("like").value=="Нравится")
    {
        var a=Number(@Model.likes);
  document.getElementById("like").value = "Уже не нравится";
  var p = document.getElementById('likes');
 p.innerHTML = ++a;
           $.ajax({
               url:'@Url.Action("ToLike", "Books")',
               type:'POST',
               data: {
                    num_of_likes: a,
                    bookId: @Model.id
               }
             })

    } else 
        {
            var a=Number(@Model.likes);
        document.getElementById("like").value = "Нравится";
        var p = document.getElementById('likes');
       p.innerHTML = a;
       
           $.ajax({
               url:'@Url.Action("ToUnLike", "Books")',
               type:'POST',
               data: {
                    num_of_likes: a,
                    bookId: @Model.id
               }
             })
    }
}

function ffoo() {
    if(document.getElementById("like").value=="Нравится")
    {
        var a=Number(@Model.likes);
  document.getElementById("like").value = "Уже не нравится";
  var p = document.getElementById('likes');
 p.innerHTML = a;
           $.ajax({
               url:'@Url.Action("ToLike", "Books")',
               type:'POST',
               data: {
                    num_of_likes: a,
                    bookId: @Model.id
               }
             })

    } else 
        {
            var a=Number(@Model.likes);
        document.getElementById("like").value = "Нравится";
        var p = document.getElementById('likes');
       p.innerHTML = --a;
        $.ajax({
                      url:'@Url.Action("ToUnLike", "Books")',
                      type:'POST',
                      data: {
                           num_of_likes: a,
                           bookId: @Model.id
                      }
                    })
    }
}
</script>

<script>
function boo() {
    if(document.getElementById("favor").value=="Добавить в избранные")
    {
  document.getElementById("favor").value = "Удалить из избранных";
  document.getElementById("favorites").innerHTML = 'Книга добавлена в избранные!';
           $.ajax({
               url:'@Url.Action("ToFavor", "Books")',
               type:'POST',
               data: {
                    bookId: @Model.id
               }
             })
    } else 
        {
        document.getElementById("favor").value = "Добавить в избранные";
  document.getElementById("favorites").innerHTML = 'Книга удалена из избранных!';
           $.ajax({
               url:'@Url.Action("DeleteFavor", "Books")',
               type:'POST',
               data: {
                    bookId: @Model.id
               }
             })
    }
}
</script>

<div class="comments">
    <div>
        <textarea id="textData" placeholder="Введите комментарий..." cols="90" rows="3"></textarea>
    </div>
    <div>
        <button id="sendComment" class="btn btn-dark">Комментировать</button>
    </div>
</div>



@section Scripts{
    <script>
    $('#sendComment').on('click', function() {
          $.ajax({
              url:'@Url.Action("NewComment", "Comment")',
              type:'POST',
              data: {
                   text: $('#textData').val(),
                   number: @Model.id
              },   
              success: function(responseText){ 
                   $('body').append("<span>" + responseText + "</span>");
                   document.getElementById("textData").value = "";
              }  
            })
        })
          
    $.ajax({
        url:'@Url.Action("Comments", "Comment")',
        type: "GET",
        data: {
            number: @Model.id
        },
        success: function(responseText){
         /* responseText - данные, полученные от сервера */
            $('body').append("<span>" + responseText + "</span>");
        }
    })
</script>
}