@using Project33.Services.Models
@using System.Web.Mvc.Ajax
@model Project33.Services.Models.Books

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}

<h3>@Html.DisplayFor(model=>model.name)</h3>
<td><p>@Html.DisplayFor(model=>model.description)</p></td>
<td>Лайки:</td>
<div id="likes">@Model.likes</div>
<input type="button" class="btn" id="like" name="like" value="like" onclick="foo()"/>

<div id="favorites">DeleteBookFromYourFavors</div>
<input type="button" class="btn" id="favor" name="favor" value="DeleteFavor" onclick="boo()"/>

<script>
likeCount = @Model.likes
function foo() {
    if(document.getElementById("like").value=="like")
    {
        var a=Number(@Model.likes);
  document.getElementById("like").value = "unlike";
  var p = document.getElementById('likes');
 p.innerHTML = ++a;
           $.ajax({
               url:'@Url.Action("ToLike", "Books")',
               type:'POST',
               data: {
                    num_of_likes: a,
                    bookId: @Model.id
               }
             })

    } else 
        {
            var a=Number(@Model.likes);
        document.getElementById("like").value = "like";
        var p = document.getElementById('likes');
       p.innerHTML = a;
       
           $.ajax({
               url:'@Url.Action("ToUnLike", "Books")',
               type:'POST',
               data: {
                    num_of_likes: a,
                    bookId: @Model.id
               }
             })
    }
}
</script>

<script>
function boo() {
    if(document.getElementById("favor").value=="ToFavor")
    {
  document.getElementById("favor").value = "DeleteFavor";
  document.getElementById("favorites").innerHTML = 'BookAddedToFavors!';
           $.ajax({
               url:'@Url.Action("ToFavor", "Books")',
               type:'POST',
               data: {
                    bookId: @Model.id
               }
             })
    } else 
        {
        document.getElementById("favor").value = "ToFavor";
  document.getElementById("favorites").innerHTML = 'BookDeletedFromFavors!';
           $.ajax({
               url:'@Url.Action("DeleteFavor", "Books")',
               type:'POST',
               data: {
                    bookId: @Model.id
               }
             })
    }
}
</script>


<div>
    <textarea id="textData" placeholder="Введите комментарий..." cols="90" rows="3"></textarea>
</div>
<div>
    <button id="sendComment" class="btn btn-dark">Комментировать</button>
</div>


@section Scripts{
    <script>
    $('#sendComment').on('click', function() {
          $.ajax({
              url:'@Url.Action("NewComment", "Comment")',
              type:'POST',
              data: {
                   text: $('#textData').val(),
                   number: @Model.id
              },   
              success: function(responseText){ 
                   $('body').append("<span>" + responseText + "</span>");
                   document.getElementById("textData").value = "";
              }  
            })
        })
          
    $.ajax({
        url:'@Url.Action("Comments", "Comment")',
        type: "GET",
        data: {
            number: @Model.id
        },
        success: function(responseText){
         /* responseText - данные, полученные от сервера */
            $('body').append("<span>" + responseText + "</span>");
        }
    })
</script>
}
