@model List<Project33.Services.Models.Books>

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}

<h2>Книги выбанного жанра:</h2>
<!DOCTYPE html>
  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный мир</title>@*@Url.Content("~/Content/Site.css")*@
</head>
<body>
<div>
    <table>
        <tr><td><p>Название книги</p></td>
            <td><p>Автор</p></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td>@Html.ActionLink(@b.name, "BookPage", "Books", new {id = b.id})</td>
                <td>
                    <p>@b.author</p></td>
            </tr>
        }
    </table>
</div>
<div class="genres">
    <table>
        <tr>@Html.ActionLink("фантастика", "GenrePage", "Books", "фантастика")</tr>
        <tr>@Html.ActionLink("фэнтези", "GenrePage", "Books","фэнтези")</tr>
        <tr>@Html.ActionLink("детективы и триллеры", "GenrePage", "Books","детективы и триллеры")</tr>
        <tr>@Html.ActionLink("Роман", "GenrePage", "Books","Роман")</tr>
        <tr>@Html.ActionLink("приключения", "GenrePage", "Books","приключения")</tr>
        <tr>@Html.ActionLink("детское", "GenrePage", "Books","детское")</tr>
        <tr>@Html.ActionLink("поэзия", "GenrePage", "Books","поэзия")</tr>
        <tr>@Html.ActionLink("драматургия", "GenrePage", "Books","драматургия")</tr>
        <tr>@Html.ActionLink("биография", "GenrePage", "Books","биография")</tr>
        <tr>@Html.ActionLink("научпоп", "GenrePage", "Books","научпоп")</tr>
        <tr>@Html.ActionLink("история", "GenrePage", "Books","история")</tr>
        <tr>@Html.ActionLink("психология", "GenrePage", "Books","психология")</tr>
        <tr>@Html.ActionLink("ужасы", "GenrePage", "Books","ужасы")</tr>
        <tr>@Html.ActionLink("комиксы", "GenrePage", "Books","комиксы")</tr>
        <tr>@Html.ActionLink("искусство", "GenrePage", "Books","искусство")</tr>
        <tr>@Html.ActionLink("философия", "GenrePage", "Books","философия")</tr>
        <tr>@Html.ActionLink("юмор", "GenrePage", "Books","юмор")</tr>
    </table>
</div>
</body>
</html>
